body {
	font-family: Whitney, Helvetica, Arial, sans-serif !important;
}
.grid {
	margin-top: 10px;
	display: grid;
	width: 100%;
	grid-template-columns: 50% 1fr;
	column-gap: 9px;
}
#grid1 {
	display: grid;
	max-width: 78%;
	grid-template-columns: 48% 1fr;
	column-gap: 15px;
}
#grid3 {
	display: grid;
	max-width: 78%;
	grid-template-columns: 48% 1fr;
	column-gap: 15px;
}
.grid4 {
	display: grid;
	grid-template-rows: auto;
}
.prodimg {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.productimages {
	margin: 10px;
}
.content img {
	width: 50%;
	height: 550px;
	padding-right: 1%;
	padding-top: 1%;
	float: left;
}
.proname {
	color: #282c3f;
	padding: 0 20px 0 0;
	font-size: 24px;
	font-weight: 500;
	line-height: 1;
	margin-top: 0;
	margin-bottom: 0;
}
.prodesc {
	color: #535665;
	padding: 0;
	padding-bottom: 10px;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 0;
}
div {
	display: block;
}
/* h3+div {
                  border: solid rgba(230, 221, 221, 0.877);
                  width: 95%;
              } */
.prorating {
	width: 23%;
	max-height: 24px;
	color: #282c3f;
	display: flex;
	align-items: center;
	border-radius: 2px;
	justify-content: space-around;
	padding: 0 5px;
	border: 1px solid #282c3f;
	font-size: smaller;
}
.hr {
	width: 100%;
	margin: 10px auto 0;
	border-top: 1px solid #ddd;
}
.proprice {
	/* padding-bottom: 10px; */
	padding-top: 15px;
}
.price {
	color: #282c3f;
	font-weight: 500;
	font-size: x-large;
}
.originprice {
	font-weight: 100;
	font-size: x-large;
	text-decoration: line-through;
	padding-left: 10px;
	height: 22px;
	opacity: .8;
	font-size: 20px;
	line-height: 1.2;
	color: #282c3f;
}
.offer {
	font-size: 20px;
	font-weight: 500;
	letter-spacing: 0.5px;
	color: #ff905a;
	padding-left: 10px;
}
.smallcont {
	padding-right: 70%;
	color: #03a685;
	font-weight: 500;
	font-size: 14px;
	display: inline-block;
	margin: 10px 0;
}
.size {
	font-weight: 500;
	float: left;
}
.chart {
	font-weight: 500;
	float: left;
	color: #ff3f6c;
	padding-left: 20px;
}
.size-button-arrow {
	display: inline-block;
	width: 6px;
	height: 6px;
	margin-left: 4px;
	border: solid #ff3e6c;
	border-width: 2px 2px 0 0;
	transform: rotate(45deg);
	margin-bottom: 2px;
}
.sizes {
	display: flex;
	align-items: center;
	margin: 10px;
}
.circles {
	height: 45px;
	width: 45px;
	border-radius: 50%;
	justify-content: center;
	border: 1px solid silver;
	text-align: center;
	display: flex;
	align-items: center;
	margin: 5px;
}
.circles:hover {
	border: 1px solid #ff3e6c;
	color: #ff3e6c;
	cursor: pointer;
}
.sizedetails {
	width: 400px;
	color: #282c3f;
	/* font-weight: 100; */
	/* height: 50px; */
	position: absolute;
	font-size: small;
	min-width: 400px;
	left: 50%;
	/* bottom: 50px; */
	bottom: 87px;
	border: 1px solid #e9e9eb;
	background-color: #fff;
	padding: 18px;
	z-index: 29;
	border-radius: 4px;
	font-weight: 100;
	box-shadow: 0 2px 16px 0 rgb(40 44 63 / 10%);
	display: none;
}
#parent {
	display: flex;
	align-items: center;
}
#parent:hover .sizedetails {
	display: grid;
}
.cartdiv {
	display: flex;
	align-items: center;
}
.cartbtn {
	color: white;
	background-color: #ff3e6c;
	width: 39%;
	height: 57px;
	border-radius: 5px;
	border: none;
	margin: 5px;
	font-weight: 700;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	cursor: pointer;
	float: left;
}
.cartbtn img {
	width: 20%;
	height: 30px;
}
.wishbtn {
	width: 26%;
	height: 57px;
	border-radius: 5px;
	border: 1px solid silver;
	margin: 5px;
	font-weight: 600;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	cursor: pointer;
	background-color: white;
}
.wishbtn img {
	width: 20%;
	height: 20px;
}
.font {
	font-weight: 500;
	display: flex;
	text-align: center;
	align-items: flex-start;
}
.deldiv {
	display: flex;
	align-items: center;
	margin-bottom: -10px;
}
.box {
	font-size: 15px;
	padding-left: 5px;
	color: #282c3f;
	font-family: inherit;
	position: relative;
	width: 50%;
	height: 44px;
	border-radius: 6px;
	border: 1px solid #bfc0c6;
	font-size: 11pt;
	font-weight: 100;
}
.pindiv span {
	color: silver;
	position: relative;
	left: -83px;
	font-size: small;
}
.pin {
	font-weight: 100;
	font-size: 12px;
	color: #282c3f;
}
.profeatures {
	font-weight: 100;
	font-size: 16px;
	font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
	padding: 2px 0;
	color: #282c3f;
}
.ftrtext {
	font-weight: 100;
	font-size: 11pt;
}
.best {
	color: #282c3f;
	font-weight: 100;
	margin-bottom: 0;
	display: inline-block;
	font-size: 15px;
}
.li {
	font-size: small;
	font-weight: 100;
}
.planv {
	display: inline-block;
	font-size: 14px;
	font-weight: 800;
	color: #ff3f6c;
	margin-top: 4px;
	cursor: pointer;
	text-decoration: none;
}
.prodetaildiv {
	color: #282c3f;
	font-size: 16px;
	margin: 0;
	font-weight: 800;
	text-transform: uppercase;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.moredet {
	display: grid;
}
.txtdethead {
	color: #282c3f;
}
.txtdet {
	font-weight: 100;
	color: #282c3f;
	font-size: 14px;
}
.ratingdiv {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.gridcol {
	border-bottom: 1px solid #eaeaec;
	margin: 0 0 12px;
	padding-bottom: 10px;
}
.gridparam {
	color: #7e818c;
	font-size: 12px;
	line-height: 1;
	margin-bottom: 5px;
}
.gridval {
	color: #282c3f;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 100;
}
.clicked {
	border: 1px solid #ff3e6c;
	color: #ff3e6c;
}
.van {
	width: 6%;
	margin-left: 2%;
}
.tag {
	margin-top: 5px;
}
progress[value] {
	-webkit-appearance: none;
	appearance: none;
}
progress::-webkit-progress-value {
	background: #03a685;
	border-radius: 10px;
	height: 5px;
	margin-top: 3px;
}
progress::-webkit-progress-bar {
	background: #eaeaec;
	border-radius: 10px;
	height: 5px;
}
.ratecon {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.vd {
	font-size: 14px;
	font-weight: 700;
	color: #ff3f6c;
	cursor: pointer;
}
.dsdiv {
	padding-left: 10px;
}
.divpad {
	padding: 10px;
}
.csr1 {
	display: block;
	border-right: 1px solid silver;
}
.csr2 {
	display: flex;
	align-items: baseline;
}
.csr3 {
	font-weight: 100;
	font-size: -webkit-xxx-large;
	color: #282c3f;
}
.csr4 {
	padding: 13px;
	font-size: x-large;
}
.ncf {
	color: #03a685;
}
.vb {
	font-size: 10pt;
	font-weight: 100;
	color: #282c3f;
}
.cr {
	padding: 4px;
	font-size: 7pt
}
.silver {
	color: silver
}
.g4div {
	font-size: 10pt;
	font-weight: 100;
	color: #282c3f;
}
.asex {
	font-weight: 600;
}
.crv1 {
	display: flex;
	align-items: center;
	font-size: 10pt;
	font-weight: 100;
}
.crv2 {
	font-size: 7pt;
	color: white;
	background-color: #03a685;
	border-radius: 2px;
	padding: 2px;
}
.crv3 {
	padding-left: 10px;
	color: #565a63;
}
.crv4 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 10pt;
	font-weight: 100;
	margin-left: 16px;
}
.crv5 {
	padding: 15px;
	color: #565a63;
	font-size: 10pt;
	font-weight: 100;
}
.crv6 {
	display: flex;
	align-items: center;
}
.tu {
	font-size: 9pt;
	color: #565a63;
	font-weight: 100;
}
.thd {
	font-size: 9pt;
	color: #565a63;
	font-weight: 100;
	padding-left: 10px
}
.thumbb {
	font-size: 10pt;
	color: #565a63;
	font-weight: 100;
}
.brcmb {
	margin-top: 100px;
	margin-left: 20px
}
.brcmb1 {
	font-size: 11pt;
	font-weight: 100;
	color: #565a63;
}
.sz {
	display: flex;
	align-items: center;
}
.locsh {
	font-weight: 100;
	padding-left: 10px
}
.gm {
	font-size: 10pt
}
.g4div1 {
	display: flex;
	align-items: center;
	margin-top: -10px;
}
.p4 {
	padding: 4px;
}