*,
*:before,
*:after {
	box-sizing: border-box;
}
body {
	margin: 0px !important;
	font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}
a {
	text-decoration: none !important;
}
.menu-toggle {
	display: inline-block;
	padding: .75em 15px;
	line-height: 1em;
	font-size: 1em;
	color: #333;
}
.menu-toggle:hover,
.menu-toggle:focus {
	color: #282c3f;
}
.main-menu {
	position: absolute;
	display: none;
	left: -200px;
	top: 0;
	height: 100%;
	transition: left 0.3s ease, box-shadow 0.3s ease;
	z-index: 999;
	color: #282c3f;
	;
}
.main-menu ul {
	list-style: none;
	margin: 0;
	padding: 2.5em 0 0;
	min-height: 100%;
	width: 200px;
	background: #fff;
	color: #282c3f;
	;
}
.main-menu a {
	display: block;
	padding: .75em 15px;
	line-height: 1em;
	font-size: 1em;
	color: #282c3f;
	text-decoration: none;
	/* border-bottom: 1px solid #383838; */
}
.main-menu a:hover,
.main-menu a:focus {
	background: #333;
	text-decoration: underline;
}
.main-menu {
	position: relative;
	left: -54px;
	top: auto;
	height: auto;
	display: block;
}
.main-menu ul {
	display: flex;
	padding: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	height: auto;
	width: auto;
	background: none;
}
.main-menu a {
	padding: 29px 17px 28px;
	/* text-align: center; */
	text-decoration: none;
	font-size: 13px;
	/* letter-spacing: .3px; */
	color: #282c3f;
	border-bottom: none;
	-webkit-transition: left .2s ease-out, width .2s ease-out;
	transition: left .2s ease-out, width .2s ease-out;
	font-weight: 600;
}
.main-menu a:hover,
.main-menu a:focus {
	background: none;
}
header {
	/* padding: 20px; */
	/* display: flex; */
	display: flex;
	align-items: baseline;
	overflow: hidden;
	background-color: white;
	position: fixed;
	top: 0;
	width: 100%;
	height: 80px;
	z-index: 4;
	align-items: center;
}
.logo {
	/* margin: 0 30px 0 10px; */
	font-size: 1.5em;
	margin: 5.5%;
	position: relative;
	left: -19px;
}
.dropdown-content1:hover {
	border-bottom: 5px solid #ee5f73;
}
.dropdown-content2:hover {
	border-bottom: 5px solid #fb56c1;
}
.dropdown-content3:hover {
	border-bottom: 5px solid #f26a10;
}
.dropdown-content4:hover {
	border-bottom: 5px solid #f2c210;
}
.dropdown-content5:hover {
	border-bottom: 5px solid #0db7af;
}
.dropdown-content6:hover {
	border-bottom: 5px solid #ff3f6c;
}
.search {
	display: flex;
	width: 23%;
	background-color: #eee;
	height: 40px;
	/* align-items: center; */
	justify-content: center;
	margin-left: -3%;
	border-radius: 3px;
}
.search input {
	width: 70%;
	border: none;
	margin-left: 2%;
	background-color: #eee;
}
.search input:hover {
	outline: none;
}
.icon {
	position: relative;
	top: 16px;
	left: -4%;
}
.imglg {
	width: 47px;
	height: 36px
}
.threeicons {
	display: flex;
}
#imicon1 {
	width: 41px;
	height: 14px;
}
#imicon2 {
	width: 48px;
	height: 15px;
}
.t1 {
	font-size: 9pt;
	padding: 5px;
	font-weight: 600;
}
.t2 {
	font-size: 9pt;
	padding: 5px;
	font-weight: 600;
}
.t3 {
	font-size: 9pt;
	padding: 5px;
	font-weight: 600;
}
#imicon3 {
	width: 26px;
	height: 14px;
}
.i1 {
	padding: 18px;
}
.timerpos {
	position: relative;
	width: 100%;
	background-image: -webkit-gradient(linear, left top, right top, from(#f9f9ff), to(#dee8ff));
	background-image: linear-gradient(90deg, #f9f9ff, #dee8ff);
	margin: 85px auto;
	height: 55px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.dd-title {
	text-transform: uppercase;
	color: #3e4152;
	letter-spacing: 0.15em;
	font-size: 1.8em;
	margin: 50px 0 10px 30px;
	max-height: 5em;
	font-weight: 500;
}
img {
	display: block;
}
.img-deals {
	margin: 3%;
	display: grid;
	grid-template-columns: repeat(5, 18.5%);
	gap: 2%;
	row-gap: 0;
}
.img-deals img {
	width: 100%;
	height: 100%;
}
.img-deals-nw {
	margin: 3.5%;
	display: grid;
	grid-template-columns: repeat(6, 15%);
	gap: 2%;
	row-gap: 0px;
}
.img-deals-nw img {
	width: 100%;
}
.footer {
	position: relative;
	z-index: 5;
	padding: 30px 0px 30px 0px;
	background: #FAFBFC;
	color: #282c3f;
}
.footer .row {
	display: flex;
	justify-content: center;
}
.col {
	width: 15%;
	padding: 0 15px;
	/* border: 1px solid black; */
}
.col1 {
	width: 25%;
	padding: 0 15px;
	/* border: 1px solid black; */
}
.col1 h4 {
	font-size: 13px;
	/* color: #ffffff; */
	text-transform: capitalize;
	margin-bottom: 20px;
	font-weight: 600;
	position: relative;
}
.col h4 {
	font-size: 13px;
	/* color: #ffffff; */
	text-transform: capitalize;
	margin-bottom: 20px;
	font-weight: 600;
	position: relative;
}
.col .badge {
	padding: 0 5px;
	background: red;
	border-radius: 90px;
	color: #fff;
	font-weight: 900;
	margin: 0 0 0 5px;
	font-size: 12px;
}
.col ul {
	list-style-type: none;
	margin-left: -37px !important;
}
.col ul li a {
	/* font-size: 14px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #777777;
  display: block;
  transition: all 0.3s ease;
  cursor: pointer;
  */
	color: #696b79;
	display: block;
	font-size: 15px;
	font-weight: 200;
	text-decoration: none;
	padding-bottom: 5px;
	cursor: pointer;
	line-height: normal;
}
.col .social-links a {
	/* display: inline-block; */
	height: 40px;
	width: 40px;
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #24262b;
	transition: all 0.5s ease;
}
.footer img {
	width: 48%;
	margin-bottom: 20px;
	height: 42px;
	display: inline-flex;
}
.colr {
	color: #696b79;
	padding-right: 10px;
	font-size: 16pt;
}
.col-retn {
	display: flex;
	align-items: flex-start;
	margin-bottom: 30px;
	margin-top: 27px;
	font-size: 11pt;
	color: #696b79;
}
.col-retn img {
	width: 17%;
	margin-right: 15px;
}
.thrdcol {
	display: grid;
}
.cr {
	color: #282c3f;
}