:root {
	--width: calc( (100vw - 320px) * (-320));
	font-size: 14px;
}

.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	overflow: hidden;
	background: silver;
	border: 1px gray solid;
}

.container .space {
	flex: 9999 0 auto;
	height: 0;
}

.container div:not(.space) {
	flex: 1 0 var(--width);
	text-align: center;
	min-width: fit-content;
	max-width: 100%;
	padding: 10px;
}

.cont {
	display: flex;
	flex-direction: column;
	width: 400;
	align-items: center;
	justify-content: space-evenly;
	margin-top: 200px;
	margin-bottom: 200px;
}

.formse {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	background-color: white;
	width: 400px;
	padding-bottom: 40px;
}

.formse img {
	margin-top: 0px !important;
	width: 400px;
	padding: 0px;
}

.formse h2 {
	color: #424553;
	letter-spacing: 2px;
	padding: 20px;
}

.formse form {
	width: 100%;
}

.formse .inputBx {
	position: relative;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 15px;
}

.formse .inputBx input[type="text"] {
	outline: none;
	border: 1px solid silver;
	padding: 12px 10px;
	padding-left: 40px;
	/* border-radius: 15px; */
	color: silver;
	font-size: 16px;
	width: 100%;
}

.formse .inputBx input[type="text"]::placeholder {
	color: #fff;
}

.formse .inputBx span {
	position: absolute;
	left: 5px;
	top: -9px;
	margin: 22px;
	display: inline-block;
	color: silver;
	transition: 0.5s;
	font-size: 10pt;
}

.formse .inputBx .s1 {
	position: absolute;
	left: -4px;
	/* top: -9px; */
	margin: 5px;
	display: inline-block;
	color: silver;
	transition: 0.5s;
	font-size: 11pt;
}

.formse .inputBx .s1 a {
	color: #ff3f6c;
	font-weight: 700;
}

.formse .inputBx input[type="text"]:focus~span,
.formse .inputBx input[type="text"]:valid~span {
	transform: translateX(-5px) translateY(-19px);
	background-color: white;
	color: #424553;
}

.formse .inputBx input[type="text"]:focus,
.formse .inputBx input[type="text"]:valid {
	border: 1px solid #424553;
}

input[type="submit"] {
	color: white;
	cursor: pointer;
	background-color: #ff3f6c;
	width: 100%;
	outline: none;
	border: none;
	margin-top: 45px;
	text-align: center;
	padding: 12px;
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
}

body {
	background: linear-gradient(to bottom right, #feedf6, #fcf0e2);
}