body{
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
Helvetica, Arial, sans-serif;
}
#grid {
    display: grid;
    grid-template-rows: auto;
    margin:150px 102px 00px 150px;

}

#helpcenter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#track {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    border: 1px solid #eaeaec;
    /* margin-right: 26%; */
    width:58%;
}

#hc {
    display: grid;
}

#tracktext {
    display: grid;
}
.tt0{
    font-weight: 500;
font-size: 16pt;
color:#282c3f; 

}
.tt20{
    font-weight: 100;
font-size: 13px;
color:#282c3f;

}
.tt1{
    font-weight: 700;
font-size: 12px;
color:#282c3f; 
/* padding:10px; */
}
.tt2{
    font-weight: 100;
font-size: 9pt;
color:silver;
margin-top: 00px;
}
.trkbtn{
    font-family: Whitney;
font-size: 12px;
font-weight: 500;
text-align: center;
color: #14cda8;
padding: 12px 24px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
border: solid 1px #14cda8;
float: left;
background: white;
}
.t1{
    display: flex;
    align-items: center;
}
.hr {
width: 100%;
margin: 10px auto 0;
border-top: 1px solid #ddd;
}


#grid1{
    display: grid;
    grid-template-columns: 25% 1fr;
    column-gap: 40px;
    margin:10px 150px 00px 150px;
   
}
.sidetext{
   font-weight: 700;
font-size: 12px;
color:#282c3f; 

}
.sidetext1{
   font-weight: 700;
font-size: 13px;
color:#282c3f; 
display: flex;
       align-items: center;
       justify-content: space-between;
}

.sidetext2{
    font-weight: 700;
 font-size: 13px;
 color:#282c3f; 
 margin-top: 247px;
 }
   #grid2{
       display: grid;
       grid-template-rows: auto;
       row-gap: 22px;
       height: max-content;
   }
  #content
  {
   border-left: 1px solid #eaeaec;
   padding-left: 35px;
height: 558px;
overflow: scroll;
    
  }

  ::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}


  #contentdiv{
      border:1px solid #eaeaec;
     
      padding:40px;
  }
  #contenttop
  {
      display: flex;
      align-items: center;
  }
  .circles {
height: 30px;
width: 30px;
border-radius: 50%;
justify-content: center;
border: 1px solid #eaeaec;
text-align: center;
display: flex;
align-items: center;
margin: 5px;
background-color: #eaeaec;

font-size: x-small;
color: #282c3f;
font-weight: 900;
}
  #ctopin{
      display: grid;
  }
.ctopmaintxt{
font-size:10pt;
color: #282c3f;
font-weight: 700;
margin-left: 5px;
}
.ctopsmltxt{
font-size: 9pt;
color: #282c3f;
font-weight: 100;
margin-left: 5px;
}
.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eaeaec;
    padding: 10px;
    border: 1px solid #eaeaec;
    margin-top: 15px;
}

.pdiv {
    display: flex;
    align-items: center;
}

.pinfo {
    display: grid;
    margin-left: 10px;

}

.imdiv {
    width: 53px;
    height: 70px;
    background-color: #eaeaec;
    border: 1px solid #eaeaec;
}

.imdiv img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
.reftop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.reftxt{
    font-weight: 700;
font-size: 14px;
color:#282c3f;
}
.amt{
    font-weight: 700;
font-size: 14px;

    color: #14cda8;
}
.pricediv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eaeaec;
    padding: 35px 5px 35px 3px;
    border: 1px solid #eaeaec;
    margin-top: 15px;
}
.iinfo{
    display: flex;
    align-items: center;
}
.useful{
    display: flex;
    align-items: flex-start;
justify-content: space-between;
margin-top: 34px;
margin-bottom: 20px;
}

.thumbs span{
    background-color: #eaeaec;
    border-radius: 24px;
padding: 10px 18px 10px 18px;
}
.lastdiv{
    display: flex;
    align-items: flex-start;
    margin-top: 10px;
}
#track1 {
display: flex;
justify-content: space-between;
align-items: flex-start;

}

#track2 {
display: flex;
justify-content: space-between;
align-items: flex-start;

}

#paret1:hover  #track1 {
color:silver;
opacity: .4;
cursor: pointer;
}
#paret2:hover  #track2{
color:silver;
opacity: .4;
cursor: pointer;
}
